# --- Environment variables ---
.env
.env.*    # ignore .env.local, .env.dev, etc.

# --- Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# --- Builds / output ---
dist/
build/
out/
.cache/

# --- Typescript ---
*.tsbuildinfo

# --- OS / Editor ---
.DS_Store
.vscode/
.idea/
*.swp

# --- Logs ---
logs
*.log
*.log.*
